%btn-estilo {
  display: inline-block;
  background-color: #CF742F;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

%fuente-franklin {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}