body
{
    background-color: #3C393B; 
    margin: 0;
    background-image: url(./img/WallpaperDog-17279104.jpg); 
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar
{
    display: flex;
    background-color: #CF742F;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 3px;
}

li
{
   display: inline;
}

.logo
{
    height: 90px;
    width: 80px;
}

.menu a
{
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
}

h1
{
    text-align: center;
    color: #ffffff;
    font-family: Boldonse;
}   

.formulario
{
    display: flex;
    justify-content: center;
}

.formulario h2  
{
   text-align: center;
   font-size: 30px;
   margin-right: 100px;
}

.formulario .form
{
    border-radius: 10px;
    background-color: #ffffff;
    width: 450px;
    height: 400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.form .form-content
{
    display: grid;
    margin-left: 100px;
}

.formulario input
{
    width: 70%;
}

.formulario .label
{
    font-size: 16px;
}

.formulario .submit
{
    margin-left: 35px;
    font-size: 15px;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    border: none;
    width: 50%;
    padding: 5px;
    justify-content: center;
    margin-top: 20px;
    background-color: #CF742F;
    
}
.formulario a
{
    text-decoration: none;
    color: white;
}

.icono
{
    height: 50px;
    margin-left: 100px;
}

@media (max-width:798px)
{
    
}